<div class="container">
  <div class="header">
    <h1>Expenses</h1>

    <button mat-raised-button color="primary" (click)="addExpense()">Add Expense</button>
  </div>

  @if (expenses.length === 0) {
    <mat-card class="empty-card"> No expenses found </mat-card>
  }

  @for (expense of expenses; track expense.id) {
    <mat-card class="expense-card">
      <div class="content">
        <div class="details">
          <h2>
            {{ expense.description }}
          </h2>
          <p>Amount: ₹{{ expense.amount }}</p>
          <p>
            Paid By:
            {{ expense.paidBy }}
          </p>
          <p>
            Participants:
            {{ expense.participants.length }}
          </p>
          <div class="owes-section">
            @for (owe of getOwesText(expense); track owe) {
              <div class="owe-chip">
                {{ owe }}
              </div>
            }
          </div>
        </div>
        <button mat-button color="warn" (click)="deleteExpense(expense.id)">Delete</button>
      </div>
    </mat-card>
  }
</div>
